/* drop down box css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #333;
    color: #fff;
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 150px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    display: flex;
    flex-direction: column; /* Display text below the logo */
    align-items: center; /* Center-align the text */
    justify-content: center; /* Center-align the text */
    padding: 5px;
    font-size: 0.8rem;
  }
  
  .sidebar li:hover {
    background-color: #555;
  }
  
  .sidebar .expand-button {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  .content {
    margin-left: 60px; /* Adjust the margin to create space for the expanded sidebar */
    padding: 20px;
    transition: margin-left 0.3s ease;
  }
  
  .content.expanded {
    margin-left: 200px;
  }
  
  .react-icon {
    position: absolute;
    font-size: 2rem;
    bottom: 0;
    left: 45%;
    transform: translateX(-50%);
    padding: 0.3rem;
  }
  
  
  
  
  .logout-button {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    transform: translateX(-3%);
    bottom: 10%;
    margin: auto;
  }
  
  .dropdown li:hover {
    background-color: #444;
  }
  .dropdown li.overall-option {
    font-weight: bold;
    color: #a6eef8;
  }
  /*end of drop down*/
  .sblogo {
    display: flex;
    align-items: center;
    flex-direction: column; /* Display text below the logo */
  
  }
  
  .sbicon {
    font-size: 1.5rem;
  }
  
  .sbicon:hover {
    filter: drop-shadow(0 0 2em #00080aaa);
  }
  
  .sblogo:hover {
    background-color: #555;
  
  }
  
  .sbtext {
    font-size: 0.8rem;
  }
  /*Log out pop out*/
  
  /* Separate CSS file */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9998;
  }
  .modal-content {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1.5px solid #000;
  
  }
  
  .modal-icon {
    font-size: 48px;
    color: #999;
    margin-bottom: 16px;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .modal-message {
    font-size: 16px;
    color: #666;
    margin-bottom: 24px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
  
  .modal-confirm,
  .modal-cancel {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-confirm {
    background-color: #e53e3e;
    color: #fff;
    margin-right: 8px;
  }
  
  .modal-cancel {
    background-color: #cbd5e0;
    color: #333;
  }
