@font-face {
  font-family: 'FFDINforPUMA';
  src: url('../assets/fonts/FFDINforPUMA-Regular.ttf') format('truetype');
}

#root {
    width: 100vw;
    height: 100vh;
    margin: 0px auto;
    text-align: center;
    overflow-x: hidden;
  }

.sales-graph {
  margin: 0px auto;
}
