.resized-image {
    margin-right:100px;
    max-width: 400px;
    max-height: 600px;
  }

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.insights-heading {
  text-align: center;
}

