.merch-table-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.merch-table {
    width: 100%;
    flex-grow: 1;
    align-self: center;
}

.rowExpansionText {
    text-align: left;
}

.rowExpansionDesc {
    inline-size: 400px;
    overflow-wrap: break-word;
}
